.navbar {
  background-color: #088afe; // Replace with your desired background color
  padding: 5px;
}

.navbar-brand {
  margin-right: 1rem;
  img {
    height: 30px;
  }
}

.navbar-toggler {
  border: none;
  background: transparent;
}

.navbar-toggler:focus {
  outline: none;
}

.sidebarMenu {
  background-color: #088afe;
  color: #fff;
  width: auto;
  height: 100vh;
}
.gSideBar {
//   width: 200px;
  transition: 0.4s;
}
.dSideBar {
//   width: 60px;
  transition: 0.4s;
}

.userFoto {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #088afe;
  background-color: #fff;
  line-height: normal;
}
.nav li a {
  color: #fff !important;
  font-size: 14px;
}
.navIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  font-weight: bold;
  background-color: #ffbb00;
  color: #fff;
  margin-right: 6px;
  border-radius: 4px;
}

.uFRightbar {
  width: 60px;
  height: 60px;
  border-radius: 38px;
  font-size: 20px;
  transition: 0.4s;
}
.uFbar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  font-size: 16px;
  transition: 0.4s;
}

.userNameGenis {
  display: block;
}
.userNamebar {
  display: none;
}

.navLinkRightbar {
  display: inline-block;
  visibility: visible;
}
.navLinkbar {
  display: none;
  visibility: hidden;
}

.gSideBarAlt {
  width: 160px;
}
.dSideBarAlt {
  width: 60px;
}
.nav.flex-column li:last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
}

//profile
.profile {
  position: relative;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.fa-bars {
  cursor: pointer;
}
@media only screen and (max-width: 750px) {
    .gSideBar {
        //   width: 200px;
        width: min-content;
          transition: 0.4s;
        }
        .dSideBar {
        //   width: 60px;
        
        width: min-content;
          transition: 0.4s;
        }
        
  }
  /* ----------- Non-Retina Screens ----------- */
@media screen 
and (min-device-width: 400px) 
and (max-device-width: 832px) 
and (-webkit-min-device-pixel-ratio: 1) { 
  .mSideBar {
    width: 75%;
  }
}